@model dynamic
@{

    Layout = "../Shared/_Layout.cshtml";
}
<div style="margin-left: 35px; margin-top: 35px;">
    <div class="CorpoCentroMenu">
        <div id="textoEsquerda">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at consectetur
            leo. Ut pulvinar at enim ac aliquet. Nunc vel quam non erat interdum ultricies eu
            ut dui.
        </div>
        <div class="ladoEsquerdo">
            <a href="../Categoria/Details/1">
                <img src="../../Content/images/padaria.jpg" class="menuHome" />
            </a>
            <br />
            <a href="../Categoria/Details/2">
                <img src="../../Content/images/carnes.jpg" class="menuHome" />
            </a>
        </div>
        <div class="ladoDireito">
            <a href="../Categoria/Details/3">
                <img src="../../Content/images/hortifrutigranjeiros.jpg" class="menuHome" />
            </a>
            <br />
            <a href="../Categoria/Details/4">
                <img src="../../Content/images/laticinios.jpg" class="menuHome" />
            </a>
        </div>
    </div>

</div>
